<library path="src">
	<class name="ROV_Control" type="rov_teleop.my_module.MyPlugin" base_class_type="rqt_gui_py::Plugin">
	<description>
		An Python GUI plugin for ROV controls
	</description>
	<qtgui>
		<!-- optional
		<group>
			<label>Group</label>
		</group>
		<group>
			<label>Subgroup</label>
		</group>
		-->

		<label> ROV Controls  </label>
		<icon type="theme">system-help</icon>
		<statustip> A plugin for controlling the project Theia ROV </statustip>

	</qtgui>

	</class>
</library>

